<header>
  <img
    class="header-logo"
    src="../../../../assets/img/logos/nexcent-logo-with-slate-text.svg"
    alt="Nexcent Logo With Slate-Color Text"
  />

  <app-header-navbar
    [isNavbarOpen]="navbarState"
    (closeNavbarEvent)="closeNavbar()"
  ></app-header-navbar>

  <button class="open-responsive-navbar-button" (click)="openNavbar()">
    <span class="responsive-burger-menu-bar"></span>
    <span class="responsive-burger-menu-bar"></span>
    <span class="responsive-burger-menu-bar"></span>
  </button>
</header>
