<section>
  <div class="left-side">
    <img
      src="../../../../../assets/img/illustrations/unseen-at-nexcent-illustration.svg"
      alt="Unseen At Nexcent Illustration"
    />
  </div>

  <div class="right-side">
    <h2>The unseen of spending three years at Nexcent</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
      justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque
      placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis.
      Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar,
      aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.
    </p>

    <app-primary-button class="learn-more-button"
      >Learn More</app-primary-button
    >
  </div>
</section>
