<section class="nexcent-blog">
  <h2>Caring is the new marketing</h2>
  <p>
    The Nextcent blog is the best place to read about the latest membership
    insights, trends and more. See who's joining the community, read about how
    our community are increasing their membership income and lot's more.​
  </p>

  <section class="blog-posts">
    <article class="blog-post">
      <img
        src="../../../../../assets/img/nexcent-blog/safeguarding-processes.svg"
        alt="Safeguarding Processes"
      />

      <div class="content">
        <h3>Creating Streamlined Safeguarding Processes with OneRen</h3>
        <app-tertiary-button [hasArrow]="true">Readmore</app-tertiary-button>
      </div>
    </article>

    <article class="blog-post">
      <img
        src="../../../../../assets/img/nexcent-blog/safeguarding-responsibilities.svg"
        alt="Safeguarding Responsibilities"
      />

      <div class="content">
        <h3>
          What are your safeguarding responsibilities and how can you manage
          them?
        </h3>
        <app-tertiary-button [hasArrow]="true">Readmore</app-tertiary-button>
      </div>
    </article>

    <article class="blog-post">
      <img
        src="../../../../../assets/img/nexcent-blog/revamping-membership.svg"
        alt="Revamping Membership"
      />

      <div class="content">
        <h3>Revamping the Membership Model with Triathlon Australia</h3>
        <app-tertiary-button [hasArrow]="true">Readmore</app-tertiary-button>
      </div>
    </article>
  </section>
</section>
