@use "./base";

@mixin flex-center($dir: row, $wrap: nowrap) {
  align-items: center;
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: center;
}

@mixin thin-text {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
}

@mixin centered-heading {
  color: base.$dGray;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.91419rem;
  margin: 0 auto 0.35rem auto;
  text-align: center;
}
