<main>
  <div class="main__left-side">
    <h1>Lessons and insights <strong>from 8 years</strong></h1>
    <p>Where to grow your business as a photographer: site or social media?</p>
    <app-primary-button>Register</app-primary-button>
  </div>

  <div class="main__right-side">
    <img
      class="main-illustration"
      src="../../../assets/img/illustrations/main-illustration.svg"
      alt="A man holding a laptop and giving a thumb's up to a computer monitor"
    />
  </div>

  <div class="carousel-balls">
    <button class="carousel-ball active"></button>
    <button class="carousel-ball"></button>
    <button class="carousel-ball"></button>
  </div>
</main>
