<section>
  <h2>Manage your entire community in a single system</h2>

  <p>Who is Nexcent suitable for?</p>

  <section class="who-is-suitable">
    <article class="suitable-group">
      <img
        src="../../../../../assets/img/community/membership-organisations.svg"
        alt="Group of User Icons"
      />

      <h3>Membership Organisations</h3>

      <p>
        Our membership management software provides full automation of
        membership renewals and payments
      </p>
    </article>

    <article class="suitable-group">
      <img
        src="../../../../../assets/img/community/national-associations.svg"
        alt="Group of Buildings"
      />

      <h3>National Associations</h3>

      <p>
        Our membership management software provides full automation of
        membership renewals and payments
      </p>
    </article>

    <article class="suitable-group">
      <img
        src="../../../../../assets/img/community/clubs-and-groups.svg"
        alt="Group of Hands"
      />

      <h3>Clubs And Groups</h3>

      <p>
        Our membership management software provides full automation of
        membership renewals and payments
      </p>
    </article>
  </section>
</section>
