<div>
  <app-wrapper>
    <footer>
      <section class="company-info">
        <img
          src="../../../../assets/img/logos/nexcent-logo-with-white-text.svg"
          alt="Nexcent Logo"
        />

        <div class="copyright">
          <span>Copyright © 2020 Landify UI Kit.</span>
          <span>All rights reserved</span>
        </div>

        <div class="social-links">
          <img
            src="../../../../assets/icons/instagram.svg"
            alt="Instagram Icon"
          />

          <img src="../../../../assets/icons/website.svg" alt="Website Icon" />

          <img src="../../../../assets/icons/twitter.svg" alt="Twitter Icon" />

          <img src="../../../../assets/icons/youtube.svg" alt="YouTube Icon" />
        </div>
      </section>

      <section class="links">
        <section class="links__company">
          <h2>Company</h2>

          <div class="link-items">
            <a>About us</a>
            <a>Blog</a>
            <a>Contact us</a>
            <a>Pricing</a>
            <a>Testimonials</a>
          </div>
        </section>

        <section class="links__support">
          <h2>Support</h2>

          <div class="link-items">
            <a>Help center</a>
            <a>Terms of service</a>
            <a>Legal</a>
            <a>Privacy policy</a>
            <a>Status</a>
          </div>
        </section>

        <section class="links__stay-updated">
          <h2>Stay up to date</h2>

          <div class="email-field">
            <input
              type="email"
              autocomplete="off"
              placeholder="Your email address"
            />

            <img
              class="send-icon"
              src="../../../../assets/icons/send.svg"
              alt="Send Icon"
            />
          </div>
        </section>
      </section>
    </footer>
  </app-wrapper>
</div>
