@use "../../../../assets/utilities/mixins";

@keyframes showNavbarAnimation {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

:host {
  nav {
    @include mixins.flex-center;
    gap: 1.39rem;

    .close-responsive-navbar-button {
      display: none;
    }

    .nav-logo {
      display: none;
    }

    ul {
      @include mixins.flex-center;
      gap: 1.04rem;
      justify-content: space-between;
      list-style: none;

      li {
        color: #4d4d4d;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.04413rem;
        text-align: center;

        &:first-child {
          width: 4.43744rem;
        }

        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    nav {
      ul,
      .register-now-button {
        display: none;
      }

      &.active {
        animation: showNavbarAnimation 0.2s forwards;
        background-color: #388e3b;
        @include mixins.flex-center(column);
        left: 0;
        min-height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;

        .close-responsive-navbar-button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: block;
          height: 30px;
          position: absolute;
          right: 2rem;
          top: 1.5rem;
          width: 30px;

          .close-icon-bar {
            background-color: #fff;
            display: block;
            height: 3px;
            position: absolute;
            top: 50%;
            width: 100%;

            &:nth-child(1) {
              transform: translateY(-50%) rotate(45deg);
            }

            &:nth-child(2) {
              transform: translateY(-50%) rotate(-45deg);
            }
          }
        }

        .nav-logo {
          display: block;
          max-width: 12rem;
        }

        ul {
          @include mixins.flex-center(column);

          li {
            color: #fff;
            font-size: 1.2rem;

            &:first-child {
              margin-right: initial;
            }
          }
        }

        .register-now-button {
          display: block;
        }
      }
    }
  }
}

@media (max-height: 320px) {
  :host {
    nav.active {
      .nav-logo {
        display: none;
      }
    }
  }
}
