<nav [class.active]="isNavbarOpen">
  <button
    class="close-responsive-navbar-button"
    (click)="fireCloseNavbarEvent()"
  >
    <span class="close-icon-bar"></span>
    <span class="close-icon-bar"></span>
  </button>

  <img
    class="nav-logo"
    src="../../../../assets/img/logos/nexcent-logo-with-slate-text.svg"
    alt="Nexcent Logo With Slate-Color Text"
  />

  <ul>
    <li (click)="fireCloseNavbarEvent()">Home</li>
    <li (click)="fireCloseNavbarEvent()">Features</li>
    <li (click)="fireCloseNavbarEvent()">Community</li>
    <li (click)="fireCloseNavbarEvent()">Blog</li>
    <li (click)="fireCloseNavbarEvent()">Pricing</li>
  </ul>

  <app-primary-button class="register-now-button"
    >Register Now <span>&#8594;</span></app-primary-button
  >
</nav>
