<app-wrapper>
  <app-header></app-header>
</app-wrapper>

<app-wrapper class="gray-wrapper">
  <app-first-section></app-first-section>
</app-wrapper>

<app-wrapper>
  <app-our-clients></app-our-clients>
</app-wrapper>

<app-wrapper>
  <app-community></app-community>
</app-wrapper>

<app-wrapper>
  <app-unseen-at-nexcent></app-unseen-at-nexcent>
</app-wrapper>

<app-wrapper class="gray-wrapper">
  <app-achievements></app-achievements>
</app-wrapper>

<app-wrapper>
  <app-how-to></app-how-to>
</app-wrapper>

<app-wrapper class="gray-wrapper">
  <app-customers></app-customers>
</app-wrapper>

<app-wrapper>
  <app-nexcent-blog></app-nexcent-blog>
</app-wrapper>

<app-wrapper class="gray-wrapper">
  <app-get-demo></app-get-demo>
</app-wrapper>

<app-footer></app-footer>
