<section>
  <h2>Our Clients</h2>

  <p>We have been working with some Fortune 500+ clients</p>

  <section class="clients">
    <img src="../../../../../assets/img/clients/client1.svg" alt="Client 1" />

    <img src="../../../../../assets/img/clients/client2.svg" alt="Client 2" />

    <img src="../../../../../assets/img/clients/client3.svg" alt="Client 3" />

    <img src="../../../../../assets/img/clients/client4.svg" alt="Client 4" />

    <img src="../../../../../assets/img/clients/client5.svg" alt="Client 5" />

    <img src="../../../../../assets/img/clients/client6.svg" alt="Client 6" />

    <img src="../../../../../assets/img/clients/client7.svg" alt="Client 7" />
  </section>
</section>
