@use "../../../../../assets/utilities/mixins";

:host {
  .customers {
    align-items: center;
    display: flex;
    gap: 3.39331rem;
    padding-block: 1.39213rem;

    > img {
      max-width: 17.5rem;
      width: 100%;
    }

    .customer {
      .customer-content {
        margin-bottom: 1.39213rem;

        p {
          @include mixins.thin-text;
          font-weight: 500;
          line-height: 1.4rem;
          margin-bottom: 0.7rem;
        }

        h2 {
          color: #4caf4f;
          font-size: 1.15rem;
          font-weight: 600;
          line-height: 1.21813rem;
          margin-bottom: 0.35rem;
        }

        span {
          color: #89939e;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.04413rem;
        }
      }

      > div {
        align-items: center;
        align-self: stretch;
        display: flex;
        gap: 1.39213rem;
        justify-content: space-between;

        .clients {
          align-items: center;
          display: flex;
          gap: 1.78369rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  :host {
    .customers {
      flex-direction: column;

      .customer {
        margin-inline: auto;
        max-width: 40rem;
      }
    }
  }
}

@media (max-width: 520px) {
  :host {
    .customers {
      .customer {
        > div {
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  :host {
    .customers {
      .customer {
        > div {
          .clients {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }
}
